
body{
    font-family : 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size : 15px;
    line-height: 1.5;/*行間*/
    color : #333;/*薄い黒で目にやさしい*/ 
    padding: 0;
    margin: 0;
}

.title{
    margin: 0 2%;
    padding: 0;
    background-color: rgb(196, 211, 216);
    height: 100px;
}

.title-image{
    display: inline-block;
    margin: 20px 0;
    height: 60px;
}

.section{
    padding:30px 15px;/*余白*/
}

.section-first{
    display: flex;
    margin: 5% 5%;
    height: 500px;
    padding: 20px 10%;
    /* height: 600px; */
    /* width: 500px; */
}

.first-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.first-conf{
    width: 350px;
}


.section-headline{
    /* text-align: center; */
    font-size: 40px;
    font-weight: bold;/*太さ*/
    /* margin-top: 0px; */

}
.section-func{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    /* font-weight: bold; */
}


.slide{
    position:relative;
    width: 800px;
    /* margin-left: ; */
    /* margin-right: 10%; */
    overflow: hidden;
}

.slide img{
    position: absolute;
    width: 110%;
    /* height: 600px; */
    /* top: 8%; */
    /* left: 300px; */
    /* right: 0; */
    /* bottom: 0; */
    opacity: 0;
    animation: slideshow 12S linear infinite;
}

.slide img:nth-child(2){
    animation-delay: 3s;
}

.slide img:nth-child(3){
    animation-delay: 6s;
}

.slide img:nth-child(4){
    animation-delay: 9s;
}

/*
枚数に応じて切り替わるタイミングを設定する
3枚設定する場合、100%/3で33%のタイミングで切り替わる
0~10%　ふんわり
10~28% 表示
28~38% 消えていく
*/
@keyframes slideshow{
    0%{
        opacity: 0;
        /* transform: scale(1); */
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
        /* transform: scale(1.3); */
    }
    100%{
        opacity: 0;
    }
}

/* .figure-first{
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 200px;
    align-items: center;
    justify-content: center;
} */




.grid{
    margin: 0;
    padding: 0;
    display: flex;/*横並び*/
    align-items: center;/*flexを中央ぞろえ*/
    justify-content: center;

}
.grid-item{
    list-style: none;
}

.grid-col-2 > .grid-item{
    width:50%;
}

.grid-col-3 > .grid-item{
    width:33.3%;
}

.grid-col-4 > .grid-item{
    width:25%;
}

.How-list{
    margin: 0;
    padding: 0;
}

.section-how{
    /* text-align: center; */
    background-color: rgb(247, 235, 208);
    margin: 0 2%;
    padding-top: 0;
    padding-bottom: 50px;
}

.section-how-title{
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
    margin: 10px 0 0 0;
}

.How-headline{
    text-align: center;
    font-weight: bold;
    margin: 0 0 20px;
    font-size: 25px;
}
.How-image{
    margin: 0 0 20px;
    text-align: center;
}
.How-description{
    /* background-color: lightslategray; */
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.section.section-search{
    margin: 100px 0 200px 0;
    padding: 15px 2%;
    /* margin: 30px 0 200px 2%; */
}

.button-set{
    position: relative;
    align-items: center;/*flexを中央ぞろえ*/
    /* justify-content: center; */
}

.search-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin: 150px 0 150px 0;
    /* width: 200px; */
}

.search-description{
    /* font-weight: bold; */
    /* display: inline-block; */
    font-size:30px;
    margin: 50px 0 0 15%;
    
}

.search-button{
    position: absolute;
    font-size: 40px;
    height: 100px;
    width: 300px;
    top: -20px;
    left: 55%;
}

.search-yuta{
    position:absolute;
    top: 10px;
    left: 70%;
}

#span1{
    color: red;
}

#span2{
    font-size: 40px;
    font-weight: bold;
}

.welcome{
    display: flex;
    align-items: center;
    height: 500px;
    /* justify-content: center; */
}
.welcome-title{
    font-size: 35px;
    font-weight: bold;
    padding: 0;
    margin: 30px 0;
}

.welcome-caption{
    line-height: 2.0;
    font-weight: bold;
    font-size: 25px;
    padding-left: 10%;
}

.welcome-image{
    padding-left:5% ;
}

footer {
    width: 100%;
    height: 120px; 
    text-align: center;
    padding: 100px 0;
    margin-top:200px ;
    background-color: #aaa5ee;
    font-size: 20px;
}
.footer-text {
    color: #fff;
}




.aichi-map-title{
    font-size: 35px;
    font-weight: bold;
    margin:10px 2%;
}

.aichi-map-div{
    width: 100%;
    position: relative;
    text-align: center;
}

.aichi-map{
    position: absolute;
    width:1000px;
    top: 300px;
    left: 750px;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

.map-button{
    position: absolute;
    width:100px;
    height: 50px;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}

#map-nagakute{
    top: 200px;
    left: 900px;
}
#map-toyota{
    top: 240px;
    left: 1000px;
}
#map-kariya{
    top: 310px;
    left: 880px;
}
#map-hekinan{
    top: 390px;
    left: 860px;
}
#map-tahara{
    top: 510px;
    left: 930px;
}
#map-toyohasi{
    top: 470px;
    left: 1030px;
}
#map-okazaki{
    top: 300px;
    left: 990px;
}
#map-toyone{
    top: 210px;
    left: 1190px;
}
#map-meito{
    top: 355px;
    left: 555px;
}
#map-naka{
    top: 380px;
    left: 440px;
}
#map-tenpaku{
    top: 420px;
    left: 550px;
}
#map-minato{
    top: 460px;
    left: 380px;
}

.button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px #666666;  /* 影の設定 */
}

.button:active{
    background: #1a720d;
    color: #FFF;
}
.button:hover {
box-shadow    : none;        /* カーソル時の影消去 */
}


.map-footer {
    margin-top:1000px ;
}
.map-footer {
    color: #fff;
}

/*************** 戻るボタンの設定 *******************/
*,
*:before,
*:after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

html {
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 62.5%;/*rem算出をしやすくするために*/
}

.question-area-button{
    margin: 0 0 50px 0;
}

.btn,
a.btn,
button.btn {
font-size: 2.0rem;
font-weight: 700;
line-height: 1.5;
position: relative;
display: inline-block;
padding: 1rem 4rem;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transition: all 0.3s;
transition: all 0.3s;
text-align: center;
vertical-align: middle;
text-decoration: none;
letter-spacing: 0.1em;
color: #212529;
border-radius: 0.5rem;
}

a.btn--yellow {
    color: #000;
    background-color: #f7eb0e;
    border-bottom: 5px solid #ccc100;
}

a.btn--yellow:hover {
margin-top: 3px;
color: #000;
background: #eee68e;
border-bottom: 2px solid #ccc100;
}
/* ************************************************** */

.question-main{
    margin: 0 2%;
}

#question-area{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0 20px;
}


.question{
    display: flex;
}
.question label{
    display: block;
    width: 150px;
    background: #c8eac3;
    color: #000;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    cursor: pointer;
}
.question input:checked+label{
    background: #1a720d;
    color: #FFF;
}
.question input{
    display: none;
}

.check-div{
    text-align: center;
    margin-top: 100px;
}

.button {
    display       : inline-block;
    border-radius : 5%;          /* 角丸       */
    font-size     : 15pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 5px 5px;   /* 余白       */
    background    : #ffffff;     /* 背景色     */
    color         : #000000;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 2px 2px #666666;  /* 影の設定 */
}

.button:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    }

    
#check{
    margin-top: 20px;
    width: 250px;
    height: 80px;
    font-size: 20px;
    font-weight: 700;
}

#dialog_ex1{
    width: 35%;
    height: 80%;
}

#dialog_ex1_h{
    text-align: center;
    font-size: 35px;
}

.dialog-title{
    margin-top: 50px;
    font-size : 25px;
}

.dialog-button-div{
    margin-top: 80px;
    text-align: center;
}

.dialog-button{
    width: 200px;
    height: 50px;
    font-size: 20px;

}

.dialog-comment{
    text-align: right;
    font-size: 30px;
}

.dialog-sign{
    text-align: right;
}



























/* 

.search{
    margin: 80px 0 0 2%;
}

.input-radio{
    margin-left: 50px;
    font-size: 20px;
}

.radio-h2{
    font-size: 30px;
}

.radio-func{
    margin: 0 10px 0 20px;
    transform: scale(2);
}

.check-div{
    text-align: center;
    margin-top: 100px;
}

#check{
    margin-top: 20px;
    width: 300px;
    height: 80px;
    font-size: 25px;
    font-weight: 700;
}

#dialog_ex1{
    width: 35%;
    height: 80%;
}

#dialog_ex1_h{
    text-align: center;
    font-size: 35px;
}

.dialog-title{
    margin-top: 50px;
    font-size : 25px;
}

.dialog-button-div{
    margin-top: 80px;
    text-align: center;
}

.dialog-button{
    width: 200px;
    height: 50px;
    font-size: 20px;

}

.dialog-comment{
    text-align: right;
    font-size: 30px;
}

.dialog-sign{
    text-align: right;
}

 */
