
body{
    font-family : 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    font-size : 15px;
    line-height: 1.5;/*行間*/
    color : #333;/*薄い黒で目にやさしい*/ 
    padding: 0;
    margin: 0;
}

.title{
    margin: 0;
    padding: 0;
}

.section{
    padding:30px 15px;/*余白*/
}

.section.section-first{
    margin: 0;
    padding: 200px 0 200px 15%;
    height: 400px;
    width: 500px;
}

.section-func{
    font-size: 30px;
    text-align: center;
}

.section-headline{
    /* text-align: center; */
    font-size: 50px;
    font-weight: bold;/*太さ*/
    margin-top: 10px;
}

.slide{
    position: relative;
    width: 100%;
    margin-left: 50%;
    /* margin-right: 10%; */
    /* overflow: hidden; */
}

.slide img{
    position: absolute;
    width: 200%;
    height: auto;
    top: -400px;
    left: 300px;
    right: 0;
    bottom: 0;
    opacity: 0;
    animation: slideshow 16S linear infinite;
}

.slide img:nth-child(2){
    animation-delay: 4s;
}

.slide img:nth-child(3){
    animation-delay: 8s;
}

.slide img:nth-child(4){
    animation-delay: 12s;
}

/*
枚数に応じて切り替わるタイミングを設定する
3枚設定する場合、100%/3で33%のタイミングで切り替わる
0~10%　ふんわり
10~28% 表示
28~38% 消えていく
*/
@keyframes slideshow{
    0%{
        opacity: 0;
        /* transform: scale(1); */
    }
    10%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    30%{
        opacity: 0;
        /* transform: scale(1.3); */
    }
    100%{
        opacity: 0;
    }
}

/* .figure-first{
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 200px;
    align-items: center;
    justify-content: center;
} */




.grid{
    margin: 0;
    padding: 0;
    display: flex;/*横並び*/
    align-items: center;/*flexを中央ぞろえ*/
    justify-content: center;

}
.grid-item{
    list-style: none;
}

.grid-col-2 > .grid-item{
    width:50%;
}

.grid-col-3 > .grid-item{
    width:33.3%;
}

.grid-col-4 > .grid-item{
    width:25%;
}

.How-list{
    margin: 0;
    padding: 0;
}

.section-how{
    /* text-align: center; */
    background-color: rgb(247, 235, 208);
    margin: 0 2%;
    padding-top: 0;
    padding-bottom: 50px;
}

.section-how-title{
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin: 10px 0 0 0;
}

.How-headline{
    font-weight: bold;
    margin: 0 0 20px;
    font-size: 30px;
}
.How-image{
    margin: 0 0 20px;
    text-align: center;
}
.How-description{
    /* background-color: lightslategray; */
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.section.section-search{
    margin: 30px 0 200px 0;
    padding: 15px 2%;
    /* margin: 30px 0 200px 2%; */
}

.button-set{
    position: relative;
    align-items: center;/*flexを中央ぞろえ*/
    /* justify-content: center; */
}

.search-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin: 150px 0 150px 0;
    /* width: 200px; */
}

.search-description{
    font-weight: bold;
    /* display: inline-block; */
    font-size:30px;
    margin: 50px 0 0 20%;
    
}

.search-button{
    position: absolute;
    font-size: 40px;
    height: 100px;
    width: 300px;
    top: -20px;
    left: 55%;
}

.search-yuta{
    position:absolute;
    top: 10px;
    left: 70%;
}

#span1{
    color: red;
}

#span2{
    font-size: 40px;
    font-weight: bold;
}

.welcome{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.welcome-title{
    font-size: 40px;
    font-weight: bold;
    padding: 0;
    margin: 10px 0 0 20px;
}

.welcome-caption{
    font-weight: bold;
    font-size: 25px;
    padding-left: 10%;
}

.welcome-image{
    padding-left:10% ;
}

footer {
    width: 100%;
    height: 120px; 
    text-align: center;
    padding: 100px 0;
    background-color: #aaa5ee;
    font-size: 20px;
}
.footer-text {
    color: #fff;
}


.search{
    font-size: 20px;
    margin: 50px 0 0 2%;
}

.input-radio{
    margin-left: 50px;
    font-size: 30px;
}

.radio-h2{
    font-size: 35px;
}

.radio-func{
    margin: 0 10px 0 20px;
    transform: scale(2);
}

.check-div{
    text-align: center;
    margin-top: 100px;
}

#check{
    margin-top: 20px;
    width: 300px;
    height: 80px;
    font-size: 25px;
    font-weight: 700;
}

#dialog_ex1{
    width: 30%;
    height: 80%;
}

#dialog_ex1_h{
    text-align: center;
    font-size: 40px;
}

.dialog-title{
    margin-top: 50px;
    font-size : 30px;
}

.dialog-button-div{
    margin-top: 80px;
    text-align: center;
}

.dialog-button{
    width: 200px;
    height: 50px;
    font-size: 20px;

}

.dialog-comment{
    text-align: right;
    font-size: 30px;
}

.dialog-sign{
    text-align: right;
}


